body {
  font-family: Arial, Helvetica, sans-serif;
}

#preloader {
  display: none;
}

form[action="#/home"] {
  border: 3px solid #f1f1f1;
}

form[action="#/home"] input[type=text],
form[action="#/home"] input[type=email],
form[action="#/home"] input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

form[action="#/home"] button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

form[action="#/home"] button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a,
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidenav a:hover,
.dropdown-btn:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px;
  font-size: 20px;
  padding: 0 10px;
}

.active {
  background-color: green;
  color: white;
}

.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.table .dropdown,
table .dropdown {
  position: relative;
  display: inline-block;
}

.table .dropdown-menu.show,
table .dropdown-menu.show {
  position: absolute;
  top: 100%;
  right: 0;
  left: auto;
  z-index: 1050;
  display: block;
  min-width: 160px;
  padding: 8px 0;
  margin-top: 2px;
}

.table .dropdown-menu .dropdown-item,
table .dropdown-menu .dropdown-item {
  padding: 8px 16px;
  white-space: nowrap;
}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
